@model Room
@{
    string action = ViewBag.Action ?? string.Empty;
}

<form method="post" asp-controller="rooms" asp-action="@action">
    @if (action?.ToLower() == "edit")
    {
        <input type="hidden" asp-for="RoomId" />
    }

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="RoomNumber" class="col-form-label fw-bold"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="RoomNumber" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="RoomNumber"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Type" class="col-form-label fw-bold"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Type" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="Type"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label fw-bold"></label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Description" class="form-control" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label class="fw-bold">This room is occupied</label>
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="IsOccupied" value="true" id="occupiedYes" />
                <label class="form-check-label fw-bold" for="occupiedYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" asp-for="IsOccupied" value="false" id="occupiedNo" />
                <label class="form-check-label fw-bold" for="occupiedNo">No</label>
            </div>
        </div>
    </div>

    <div class="row mb-3 mt-4">
        <div class="col-2">
            <input type="submit" class="btn btn-outline-primary" value="Save" />
        </div>
        <div class="col-6">
        </div>
    </div>
</form>
