    <h3>Pets</h3>
    <br />
    <p>
        Here pets will be displayed (maybe)
    </p>
    <ul>
        <li>
            <a href="/pets/edit/1">Cats</a>
        </li>
        <li>
            <a href="/pets/edit/2">Dogs</a>
        </li>
    </ul>