@section title {
    <h1>Vet Clinic Management System</h1>
}
<div class="container mt-4">
    <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="doctors" asp-action="index">
        <section id="doctors">
            <h2 class="text-center">Manage Doctors</h2>
            <p class="lead text-center">View and manage all doctors working at the clinic.</p>
        </section>
    </a>
    <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="patients" asp-action="index">
        <section id="patients">
            <h2 class="text-center">Manage Patients</h2>
            <p class="lead text-center">Keep track of all patients under care.</p>
        </section>
    </a>
    <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="rooms" asp-action="index">
        <section id="rooms">
            <h2 class="text-center">Manage Rooms</h2>
            <p class="lead text-center">Check availability and manage rooms for treatments and surgeries.</p>
        </section>
    </a>
    <a class="nav-link text-dark btn btn-light my-4 w-100" asp-controller="appointments" asp-action="index">
        <section id="appointments">
            <h2 class="text-center">Manage Appointments</h2>
            <p class="lead text-center">Schedule, view, and manage appointments for patients.</p>
        </section>
    </a>
</div>

    
