@model VetClinic.ViewModels.ErrorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    <title>@VetClinic.Resources.Resource.Error</title>
}

<h1>@VetClinic.Resources.Resource.ErrorOccurred</h1>
<p>@Model.ErrorMessage</p>
<p>@VetClinic.Resources.Resource.Try</p>
