@model VetClinic.ViewModels.ErrorViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section title {
    <title>Error</title>
}

<h1>An Error Occurred</h1>
<p>@Model.ErrorMessage</p>
<p>Please try again later or contact support.</p>
