@model VetClinic.Models.Appointment
@{
    string action = ViewBag.Action ?? string.Empty;
}

<form method="post" asp-controller="Appointments" asp-action="@action">
    @if (action?.ToLower() == "edit")
    {
        <input type="hidden" asp-for="AppointmentId" />
    }

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="StartTime" class="col-form-label fw-bold"></label>
        </div>
        <div class="col-6">
            <input type="datetime-local" asp-for="StartTime" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="StartTime"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="EndTime" class="col-form-label fw-bold"></label>
        </div>
        <div class="col-6">
            <input type="datetime-local" asp-for="EndTime" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="EndTime"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="DoctorId" class="col-form-label fw-bold">Doctor ID</label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="DoctorId" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="DoctorId"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="PatientId" class="col-form-label fw-bold">Patient ID</label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="PatientId" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="PatientId"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2">
            <label asp-for="RoomId" class="col-form-label fw-bold">Room ID</label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="RoomId" class="form-control" />
        </div>
        <div class="col mt-2">
            <span class="text-danger" asp-validation-for="RoomId"></span>
        </div>
    </div>

    <div class="row mb-3 mt-4">
        <div class="col-2">
            <input type="submit" class="btn btn-outline-primary" value="Save" />
        </div>
        <div class="col-6"></div>
    </div>
</form>
