@model Appointment

@section title {
    <h3 style="font-family: 'Times New Roman', Times, serif; ">Add Appointment</h3>
}
<div asp-validation-summary="All" class="text-danger"></div>


<partial name="_Appointment" model="@Model" />